
body {
  background-image: url("images/dwarf.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.item-name {
  font-weight: bold;
  width: 200px;
}

.item-row {
  display: flex;
}

.error-text {
  color: rgb(202, 13, 13);
  font-size: 24px;
}

.flash_message {
  display: flex;
  border: 2px solid rgb(169, 127, 0);
  border-radius: 5px;
  padding: 15px;
  width: 60%;
  background-color: black;
  color: rgb(136, 11, 189);
  margin-bottom: 10px;
  font-size: 24px;
}

.flash_message > span {
  width: 100%;
  text-align: center;
}

.footer-line {
  width: calc(100% - 20px);
  margin: 30px 10px 10px 10px;
  padding-top: 5px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.user-identifier {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  padding-left: 5px;
}