
<head>
    <link rel="stylesheet" href="/party_style.css"> 
</head>

<div>
    <form action="/query_update_names" method = "POST">
        <input type="hidden" name="filename" value="{{filename}}">
        <input type="submit" value="Continue">
    </form>
</div>

<hr>
Your Happy Little Party:

<ol>
    {% for player_index in party %}
    {% set player = party[player_index] %}
    <li>
        <div>
            {{player.Name}} - {{player.hero_class}}
        </div>
        <ol>
            {% for item_index in player.inv_items %}
            {% set item = player.inv_items[item_index] %}
            <li>
                <div class="item-row">
                    <span class="item-name">{{item.Name}}</span>
                    {% if item.low < 0 %}
                      {{ -1 * item.low }} - {{ -1 * item.high }} Healing
                    {% endif %}
                    {% if item.low == 0 %}
                      {{' '}}    
                    {% endif %}
                    {% if item.low > 0 %}
                      {{item.low}} - {{item.high}} Damage
                    {% endif %}
                </div>
            </li>
            {% endfor %}
            <br>
        </ol>
    </li>
    {% endfor %}
</ol>

<hr>
<div>
    <input type="button" value="Continue" onclick="location.href='/query_update_names'">
</div>