Would you like to change any names?

<hr>
<div>
    <input type="button" value="Save Game" onclick="location.href='/save_game1'">
    <input type="button" value="Hero Names" onclick="location.href='/update_names'">
    <input type="button" value="No, just continue, Sucka'." onclick="location.href='/begin_game'">
</div>

<hr>
<div>
    Current Game Name:  Ruxpin.json <!-- Make this actually work right -->
</div>

<br>
<div>
    list hero names and classes, the code below will work once I know how to pass the party here
</div>

<!-- <ol>
    {% for player_index in party %}
    <li>
        <div>
            {{party[player].Name}} - {{party[player].hero_class}}
        </div>
    </li>
</ol> -->