{% extends "main.html" %}
{% block body %}

Would you like to change any names?

<hr>
<div>
    <form action="/save_game1" method="POST">
        <input type="hidden" name="filename" value="{{filename}}">
        <input type="submit" value="Save Game">    
    </form>
    <input type="button" value="Hero Names" onclick="location.href='/update_names'">
    <input type="button" value="No, just continue, Sucka'." onclick="location.href='/begin_game'">
</div>

<hr>
<div>
    Current Game Name:  Ruxpin.json <!-- Make this actually work right -->
</div>

<br>
<div>
    list hero names and classes, the code below will work once I know how to pass the party here
</div>

{% endblock %}